li {
  list-style: none;
}

body {
  background: black url('img/moon.jpg');
}

header {
  background: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid white;
}

#wrapper{
  width:1300px;
  margin:0 auto;
}

a{
  text-decoration: none;
}

.menu {
  float: left;
  height: 30px;
  left: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.menu>img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

header>div>h1 {
  height: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-family: 'Fondamento', cursive;
}

.header.border {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  height: 5px;
  width: 600px;
  border-radius: 5px;
}

header>div>ul {
  float: right;
  height: 50px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

header>div>ul>li {
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

header>div>ul>li>img {
  height: 30px;
  width: 30px;
}

.header {
  background: white;
}

.login {
  position: fixed;
  right: 0;
  margin-right: 20px;
  margin-top: 7px;
  height: 150px;
  width: 250px;
  background: black;
  outline: 1px solid white;
  display: none;
}

.login * {
  margin-left: 10px;
  margin-top: 20px;
}

.login input {
  width: 200px;
}

.login image {
  height: 100px;
  width: 100px;
}

.login button {
  width: 100px;
  height: 25px;
  border: 2px solid white;
  background: black;
  color: white;
  border-radius: 50px;
}

.login button:hover {
  background: white;
  color: black;
  cursor: pointer;
}


.hidden.master{
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 51px;
  width: 200px;
  height: 800px;
  background: black;
  border-right: 2px solid white;
  display: none;
}

.hidden.dropdown {
  width: 200px;
  height: 50px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.hidden.dropdown p {
  height: 50px;
  margin: 0px;
  border: 0px;
  font-size: 20px;
  font-family: 'Fondamento', cursive;
  color: white;
}

.hidden.dropdown:first-child{
  margin-top: 50px;
}

.hidden.dropdown:hover, .hidden.dropdown p:hover {
  background: white;
  color: black;
}

main {
  margin-top: 50px;
  background: url('../img/moon.jpg');
  background-size: cover;
}

.main.master {
  width: 960px;
  height: 800px;
  margin: auto;
  background: rgba(1, 1, 1, 0.5);
}
