li {
  list-style: none;
}

body {
  background: black;
}

header {
  background: black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid white;
}


.menu {
  float: left;
  height: 30px;
  left: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.menu>img {
  height: 30px;
  width: 30px;
}

header>div>h1 {
  height: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-family: fantasy;
}

.header.border {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  height: 5px;
  width: 600px;
  border-radius: 5px;
}

header>div>ul {
  float: right;
  height: 50px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

header>div>ul>li {
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

header>div>ul>li>img {
  height: 30px;
  width: 30px;
}

.header {
  background: white;
}

.hidden.master{
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 50px;
  width: 200px;
  height: 800px;
  background: white;
  visibility: hidden;
}

.hidden.dropdown {
  width: 200px;
  height: 50px;
  border-bottom: 1px solid black;
  background: white;
  cursor: pointer;
}

.hidden.dropdown p {
  margin: 0px;
  border: 0px;
  font-size: 20px;
  font-family: fantasy;
}

.hidden.dropdown:first-child{
  margin-top: 50px;
}

.hidden.dropdown:hover {
  background: black;
  color: white;
}

main {
  margin-top: 90px;
}

.main.master {
  width: 960px;
  height: 800px;
  margin: auto;
}

.main>h2 {
  color: white;
  height: 30px;
  width: 800px;
  float: left;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 30px;
  font-family: fantasy;
}

.main.option {
  width: 400px;
  height: 400px;
  background: white;
  float:left;
  margin-top: 50px;
}

.main.option> * {
  width: 400px;
  height: 400px;
}

#noob {
  background: url("kanye.png");
  background-size: contain;
}

#pro {
  background: url("HalfOrc_paladin.jpg");
  background-size: cover;
}

#noob> div, #pro> div {
  height: 400px;
  width: 400px;
  background: rgba(1, 1, 1, 0.5);
  cursor: pointer;
  transition: .35s all;
}

#noob>div>h3, #pro>div>h3 {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 400px;
  color: white;
  background: rgba(1, 1, 1, 0.75);
  text-align: center;
  padding-top: 20px;
  margin-top: 165px;
  font-size: 30px;
  font-family: fantasy;
  transition: .35s all;
}

#noob> div:hover, #pro> div:hover {
  background: none;
}

.main>:nth-child(2) {
  margin-left: 10px;
}

.divider {
  height: 500px;
  width: 90px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;;
  border-radius: 20px;
}
